{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h2>Вот что я умею</h2>
  {% comment %}
    Боковой блок со списком технологий
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      {% for purpose, tech in tech_stack.items %}
      <li class="list-group-item">
        {{ purpose }}: {{ tech }}
      </li>
      {% endfor %}
    </ul>
  </aside>
  {% comment %}
    Статья
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>Хранение данных в моем проекте осуществляется с помощью простой и удобной
    библиотеки SQLite.</p>
    <p>Сам проект реализован на фреймворке Django.</p>
    <p>Для быстроты первого деплоя выбран Bootstrap.</p>
  </article>
</div>
{% endblock %}